{% extends 'form-template.html' %}

{% load static %}

{% block content %}

<div>
    <form method="post" action="{% url 'login-form' %}">
        {% csrf_token %}

        <!-- {% for field in form %}
            
        {{field}}
        {% endfor %} -->

        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

        <button type="submit" >Login</button>
        
    </form>
    <p>have not <em><a href="{% url 'register' %}">registered</a><em>?</p>
</div>

{% endblock %}