<!DOCTYPE html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="author" content="popples.cloud">

        <link rel="icon shortcut" href="{% static 'images/apple-one.svg' %}" type="images/favicon.ico"/>
        <link rel="stylesheet" href="{% static 'styles/style.css' %}">

    </head>

    <body>

        {% include 'header.html' %}

        {% block content %}
        
        {% endblock content %}



        <footer>

        </footer>

    </body>


</html>