{% load static %}

<nav class="header-one-row">
    <div class="header-one-row-left">
        <p>All 100 Topics</p>
        <form method="get" action="{% url 'topic-page' %}">
            <label for="search"></label>
            <input type="search" name="search_param" id="search" value="{{search_param}}" placeholder="Search topics you interested">
            <button type="submit">Search</button>
        </form>
    </div>
    <a href="{% url 'topic_new' %}"><button>New Topic</button></a>
    
</nav>

<hr/>